* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url('https://u2cancarve.com/wp-content/uploads/2021/01/hinh-nen-gon-may-hoang-hon_014746754.png');
    background-size: cover;

}

.container {
  margin: 100px 300px;
}
.content {
    background-color:white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.content .header {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.header .own {
    display: flex;
    align-items: center;
}
.header .own i {
    font-size: 30px;
}
.header .own a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.header .menu {
    display: flex;
    align-items: center;
}
.header .item  a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.item a:hover{
    color: red;
    cursor: pointer;

}

.header .talk  a{
    align-items: center;
    border: 2px solid black;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.talk a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.main {
    display: flex;
    padding: 10px 100px;
    justify-content: space-between;
}

.main .main-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-left .ipm-idea {
    font-size: 55px;
    font-weight: bold;
  
}

.ipm-idea .idea {
    display: flex;
    align-items: center;
}

.idea i {
    margin-left: 20px;
}

.main-left .para {
    font-size: 20px;
    color: gray;
}

.choosen {
    display: flex;
}

.choosen .but button {
    padding: 15px 40px;
    border-radius: 10px; 
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.choosen .but button:hover {
    background-color: black;
    color: white;
}
.choosen .lm {
    margin-left: 20px;
}

.main .main-right img {
    height: 400px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    width: 450px;
    object-fit: cover;
}

.container .footer {
    padding: 50px 100px;
    display: flex;
    justify-content:space-between;
}

.container .footer .meet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .meet .para-bold {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer .meet .para-nor {
    color: gray;
}

.footer .person {
    display: flex;
}
.footer .person .image img {
    height: 150px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 15px;
    width: 150px;
    object-fit: cover;
    cursor: pointer;
}